<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form action="/api/register" method="POST">
      <h4>Create new account</h4>
      <div class="mb-2">
        <label for="">Username</label>
        <input type="text" name="username" />
      </div>
      <div class="mb-2">
        <label for="">Password</label>
        <input type="password" name="password" />
      </div>
      <div class="mb-2">
        <input type="submit" />
      </div>
    </form>
  </body>
</html>
